*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
}

html,body{
    background-color: bisque;
    font-family: "PlayFair Display", serif;
    font-weight: 400;
    padding-top: 40px;
}


/* Navigation Bar */

.navigator{
    top: 0;
    z-index: 99999;
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 50px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    border: 1px solid black;
}

.nav-logo img{
    margin-top: 10px;
    height: 175px;
    width: auto;
    margin-right: 10px;
    cursor: pointer;
    
}

.nav1 ul{
    display: flex;
    align-items: center;
    justify-content: center;
}



.nav1 ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    font-size: 17px;
    font-weight: 450;
    cursor: pointer;
}

li:hover{
    text-decoration: underline;
}

.nav2 a{
    color: white;
    text-decoration: none;
}

.nav2 button {
    font-family: "Roboto", serif;
    color: white;
    background-color: black;
    border: none;
    font-size: 13px;
    padding: 12px 25px;
    border-radius: 10px;
    margin-left: 350px;
}

.nav2 button:hover{
    color: black;
    background-color: bisque;
}

/* Main Body Slider Wrapper */

.slider::-webkit-scrollbar {
    display: none; 
}

.slider-wrapper{
    position: relative;
    width: 87%;
    margin: 0 auto;
}

.slider {
    margin-top: 15px;
    display: flex;
    aspect-ratio: 17 / 8;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 1rem;
    -webkit-overflow-scrolling: touch; 
}

.slider img{
    height: 100%;
    width: 100%;
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: fill;
}

.slide-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slide-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slide-nav a:hover{
    opacity: 1;
}



/* E - waste Impact */


.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
}

.image-container img{
    margin-right: 20px;
    height: 450px;
    width: 450px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3), 
                -5px -5px 15px rgba(255, 255, 255, 0.5);
}

.text-content{
    padding: 0 100px;
}

.text-content h1{
    font-size: 60px;
    margin-bottom: 10px;
    text-align: center;
}

.text-content p{
    font-size: 1.15rem;
    line-height: 1.5;
}


/* Recycling Tips */

.recycle-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
}

.recycle-image img{
    margin-right: 20px;
    height: 450px;
    width: 450px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3), 
                -5px -5px 15px rgba(255, 255, 255, 0.5);
}

.tips{
    padding: 0 100px;
}

.tips h1{
    font-size: 60px;
    margin-bottom: 10px;
    text-align: center;
}

.tips ul li{
    list-style-type: disc;
    text-decoration: none;
    font-size: 1.15rem;
    line-height: 2;
}

/* Contact Us */

.contact-container{
    min-height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("leaf\ wallpaper.webp") no-repeat center center/cover;
    background-size: cover;
}

.contact-container form{
    width: 650px;
    height: 500px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
}

.contact-container form h1{
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
    width: 500px;
    text-align: center;
}

.contact-container form input{
    width: 290px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #fff;
}


.contact-container form input::placeholder{
    color: #ddd;   
}
.contact-container form #lastname,
.contact-container form #mobile{
    margin-left: 20px;
}

.contact-container form h4{
    color: #fff;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
}

.contact-container form textarea{
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-width: 600px;
    max-width: 600px;
    min-height: 80px;
    max-height: 80px;
}

textarea::-webkit-scrollbar{
    width: 1rem;
}

textarea::-webkit-scrollbar-thumb{
    background-color: rgba(194,194,194,0.713);
}

.contact-container #button{
    border: none;
    background: #fff;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #333;
    width: 100px;
    padding: 0;
    margin-right: 500px;
    margin-bottom: 30px;
    transition: 0.3s;
}

.contact-container form #button:hover{
    opacity: 0.7;
}