body{
    height: auto;
    background-color: white;
}

.container{
    height: 500px;
    width: 750px;
    background-color:white;
    border: 3px solid black;
    border-radius: 7px ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 10px 10px 30px rgba(79, 109, 114, 0.6);
}

.bin{
    width: 15rem; 
    max-width: 100%;
    height: auto; 
    align-items: center;
    bottom: 5px;
    position: relative;
    margin-right: 50px;
    z-index: -1;
}

.left{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    height: 100%;
}

.main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: -15px;
}

.loading-bar {
    display: flex;
    width: 15px;  /* Width of the bar */
    height: 150px; /* Height of the bar */
    background-color: #ddd; /* Light gray background */
    border-radius: 10px;
    position: relative;
    margin-left: -100px;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
    bottom: 25px;
    right: 25px;
}
.fill {
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, #4caf50, #8bc34a);
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    /* animation: loadAnimation 3s  ease-in-out; */
}

/* .attributes{
    display: flex;
    align-items: center;
    justify-content: center;

} */
ul{
    list-style-type: square;
    margin-left: 150px;
    font-size: 20px;
}

.status{
    margin: 25px
}

.stats{
    display: flex;
    justify-content: center;
    align-items: center; 
}


ul li:nth-child(1)::marker {
    color: orange;
}

ul li:nth-child(2)::marker {
    color: blue;
}

ul li:nth-child(3)::marker {
    color: rgb(66, 128, 66);
}
li{
    margin-bottom: 5px;
}